.about-title {
  margin: 5rem 0 1rem;
  font-weight: var(--bold);
  @media (--desktop) {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    font-size: 5.5rem;
  }
}

.about-image {
  @media (--desktop) {
    margin-top: -3rem;
    text-align: center;
    & img {
      display: inline-block;
      max-width: 800px;
    }
  }
}

.about-info {
  @media (--desktop) {
    display: flex;
  }
}

.about-text {
  @media (--desktop) {
    flex: 8;
  }
}

.about-lead {
  margin: 2.5rem 0 1rem;
  font-size: var(--font-size-3);
  font-weight: var(--bold);
  @media (--desktop) {
    margin-bottom: 2rem;
    font-size: var(--font-size-2);
  }
}

.about-description {
  line-height: 1.75;
  font-weight: var(--medium);
  @media (--desktop) {
    padding-right: 8rem;
  }
}

.about-quotes {
  position: relative;
  margin-top: 5rem;
  @media (--desktop) {
    flex: 3;
    &::before {
      display: block;
      position: absolute;
      left: -3rem;
      width: 2px;
      height: 125%;
      background-color: var(--gray-darker);
      transform: translateY(-15%);
      content: '';
    }
  }
}

.about-quote {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
