.about-wrapper {
  color: white;
  background-color: #101010;
  @media (--desktop) {
    display: flex;
    & > * {
      width: 50%;
    }
    & .about-info {
      overflow-y: auto;
    }
  }
}

.about-image {
  margin: 0;
  @media (--desktop) {
    position: sticky;
    top: 60px;
    height: calc(100vh - 60px);
  }
  & img {
    @media (--desktop) {
      width: 100%;
      height: 100%;
      margin: 0;
      object-fit: cover;
    }
  }
}

.about-info {
  padding: 1.5rem 5vw;
  @media (--desktop) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.about-title {
  font-weight: var(--bold);
}

.about-lead {
  margin: 2.5rem 0 1rem;
  font-size: var(--font-size-3);
  font-weight: var(--bold);
  @media (--desktop) {
    margin-bottom: 2rem;
    font-size: var(--font-size-2);
  }
}

.about-description {
  line-height: 1.75;
  & a {
    text-decoration: underline;
    color: white;

    &:hover {
      color: var(--link-color);
    }
  }
}

.about-quotes {
  margin-top: 5rem;
}

.about-quote {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
