.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 56px;
  padding: 1rem var(--container-horizontal-padding);
  background: #fff;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  will-change: opacity;
  &.visible {
    opacity: 1;
  }
  @media (--desktop) {
    height: 75px;
  }
}

.primary-nav {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  opacity: 0;
  transition-delay: 0s;
  @media (--desktop) {
    visibility: visible;
    position: static;
    width: auto;
    opacity: 1;
  }
  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33.333vh;
    font-size: var(--font-size-2);
    font-weight: var(--extrabold);
    color: #fff;
    @media (--desktop) {
      @apply --all-caps;
      display: inline-block;
      height: auto;
    }
    &:not(:last-child) {
      @media (--desktop) {
        margin-right: 1rem;
      }
    }
    &:hover {
      color: #fff;
    }
    &.link-about,
    &.link-email {
      display: none;
      @media (--desktop) {
        display: inline-block;
      }
    }
  }
}

.brand {
  @apply --all-caps;
}

.menu-mobile-open {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 16px;
  right: var(--container-horizontal-padding);
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  transform: rotate(-90deg);
  transition: top var(--speed) var(--easing) 0.1s, right var(--speed) var(--easing), min-width var(--speed) var(--easing), min-height var(--speed) var(--easing), transform var(--speed) var(--easing) 0.1s;
  @media (--desktop) {
    position: absolute;
    left: 50%;
    min-width: 42px;
    height: 42px;
    min-height: 42px;
    transform: rotate(-90deg) translateY(-50%);
    pointer-events: none;
  }
  & span {
    flex: 1;
    transition: all var(--speed) var(--easing) 0.2s;
  }
}

.menu-mobile-close {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: relative;
  right: -12px;
  z-index: 15;
  width: 36px;
  height: 36px;
  padding: 0;
  background: transparent !important;
  opacity: 0;
  transition-delay: 0s;
  @media (--desktop) {
    display: none;
  }
  & span {
    display: block;
    position: absolute;
    width: 24px;
    height: 4px;
    background: #fff;
    &:first-child {
      transform: rotate(45deg);
    }
    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.menu-mobile-visible {
  max-height: 100vh;
  overflow: hidden;
  & .menu-mobile-open {
    top: 0;
    right: 0;
    min-width: 100vw;
    min-height: 100vh;
    transform: rotate(0deg);
    transition: top var(--speed) var(--easing), right var(--speed) var(--easing), min-width var(--speed) var(--easing), min-height var(--speed) var(--easing) 0.1s, transform var(--speed) var(--easing);
  }
  & .primary-nav {
    visibility: visible;
    position: absolute;
    z-index: 10;
    opacity: 1;
    transition: visibility var(--speed) var(--easing), opacity var(--speed) var(--easing) 0.3s;
  }
  & .menu-mobile-close {
    visibility: visible;
    opacity: 1;
    transition: visibility var(--speed) var(--easing), opacity var(--speed) var(--easing) 0.3s;
  }
}

.band-writer {
  background-color: var(--writer-color);
}

.band-director {
  background-color: var(--director-color);
}

.band-editor {
  background-color: var(--editor-color);
}
