.page-template-page-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 500px;
  padding: 2rem 0;
  /* adjust height on mobile devices to take account of bottom bar */
  @media (pointer: coarse) {
    height: calc(100vh - 60px);
  }
  @media (--desktop) {
    padding: 3rem 0;
  }
  & main,
  & footer {
    z-index: 1;
  }
  & main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    & .container {
      width: 100%;
    }
  }
  & h1 {
    margin-bottom: 0;
    font-weight: var(--extrabold);
    @media (--desktop) {
      font-size: 3.5rem;
    }
  }
  & footer {
    margin-top: auto;
    & a {
      font-weight: var(--semibold);
      color: var(--text-color);
      &:hover {
        color: var(--link-color);
      }
    }
  }
}

.home-nav {
  margin: 0;
  line-height: 1.2;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  will-change: opacity;
  &.visible {
    opacity: 1;
  }
  & a {
    display: inline-block;
    position: relative;
    margin-right: 0.125em;
    font-size: var(--font-size-1);
    font-weight: var(--extrabold);
    transform: scale(1);
    transition: transform 0.4s var(--easing);
    will-change: transform;
    @media (--desktop) {
      font-size: 3.5rem;
    }
    &::before {
      display: block;
      position: absolute;
      top: -0.75rem;
      left: -1.5rem;
      z-index: -1;
      width: calc(100% + 3rem);
      height: calc(100% + 1.5rem);
      box-shadow: 0 2px 44px rgba(0, 0, 0, 0.15);
      background-color: #fff;
      opacity: 0;
      transition: opacity 0.4s var(--easing);
      will-change: opacity;
      content: '';
    }
    &::after {
      content: '.';
    }
    &:hover {
      @media (--desktop) {
        z-index: 5;
        transform: scale(1.04);
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.writer-link {
  color: var(--writer-color);
  &:hover {
    color: color(var(--writer-color) shade(15%));
  }
}

.director-link {
  color: var(--director-color);
  &:hover {
    color: color(var(--director-color) shade(15%));
  }
}

.editor-link {
  color: var(--editor-color);
  &:hover {
    color: color(var(--editor-color) shade(15%));
  }
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 0.4s var(--easing);
  will-change: background-color;
}

.writer-link-hover {
  @media (--desktop) {
    background-color: var(--writer-color);
    background-image: url('../img/triangles.svg');
  }
}

.director-link-hover {
  @media (--desktop) {
    background-color: var(--director-color);
    background-image: url('../img/circles.svg');
  }
}

.editor-link-hover {
  @media (--desktop) {
    background-color: var(--editor-color);
    background-image: url('../img/diamonds.svg');
  }
}

