.projects {
  margin-top: 6rem;
  @media (--tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: -1rem;
    margin-left: -1rem;
  }
  @media (--desktop) {
    position: relative;
    z-index: 5;
  }
}

.project {
  position: relative;
  @media (--desktop) {
    background-color: var(--gray-darkest);
  }
  @media (--tablet) {
    flex-basis: calc(50% - 2rem);
    margin: 0 1rem 2rem;
  }
  @media (--desktop) {
    flex-basis: calc(33.333% - 2rem);
    position: relative;
    margin: 0 1rem 2rem;
  }
  &:not(:last-child) {
    margin-bottom: 3rem;
    @media (--desktop) {
      margin-bottom: 2rem;
    }
  }
  & a {
    @apply --absolute-stretch;
    z-index: 5;
  }
  & .project-info {
    @media (--desktop) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      padding: 1rem;
    }
  }
  & .project-type {
    display: inline-block;
    position: relative;
    max-width: 75%;
    font-size: var(--font-size-large);
    font-weight: var(--bold);
    @media (--desktop) {
      max-width: 100%;
      color: #fff;
    }
    &::after {
      display: block;
      position: absolute;
      bottom: -0.25em;
      left: 0;
      width: calc(100% + 1.5rem);
      max-width: calc(100vw - (var(--container-horizontal-padding) * 2));
      height: 2px;
      background-color: var(--border-color);
      content: '';
      @media (--desktop) {
        width: 100%;
        max-width: 0;
        background-color: #fff;
        transition: max-width var(--speed) var(--easing);
      }
    }
  }
  & .project-lead {
    font-size: var(--font-size-small);
    font-weight: var(--medium);
    @media (--desktop) {
      overflow: hidden;
      margin: 0;
      font-size: var(--font-size-5);
      text-align: center;
      color: #fff;
      opacity: 0;
      transition: opacity var(--speed) var(--easing);
    }
  }
  &:hover {
    @media (--desktop) {
      @nest .term-writing & {
        background-color: var(--writer-color);
      }
      @nest .term-directing & {
        background-color: var(--director-color);
      }
      @nest .term-editing & {
        background-color: var(--editor-color);
      }
    }
    & .project-thumbnail {
      @media (--desktop) {
        background-size: auto 110%;
        opacity: 0.25;
        filter: saturate(0);
      }
    }
    & .project-type::after {
      @media (--desktop) {
        max-width: 100%;
      }
    }
    & .project-lead {
      @media (--desktop) {
        opacity: 1;
      }
    }
  }
}

.project-thumbnail {
  width: 100%;
  margin-bottom: 1rem;
  padding: 30% 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 110%;
  transition: opacity var(--speed) var(--easing), background-size 0.3s var(--easing);
  @media (--desktop) {
    margin-bottom: 0;
    padding: 65% 0;
    background-size: auto 100%;
    opacity: 0.9;
  }
}
